/*@import "../../node_modules/tailwindcss/dist/lib.d.mts";*/
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Roboto Mono', monospace; /* przykładowo */

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

textarea
{
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
