@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-bungee: 'Bungee', cursive;
  --font-mono: 'Share Tech Mono', monospace;

  /*--font-roboto: "Bungee", sans-serif;*/

  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-geist-sans);*/
  /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1
{
  font-family: var(--font-bungee);
}

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-family: var(--font-geist-mono), Arial, sans-serif;*/
  /*font-family: var(--font-geist-sans), sans-serif;*/
  /*font-family: var(--font-roboto), sans-serif;*/
  /*font-family: "Courier New", sans-serif;*/
  /*font-family: "Bungee", sans-serif;*/
  font-family: var(--font-bungee), sans-serif;
}

input {
  font-family: var(--font-mono), monospace;
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

textarea
{
  font-family: var(--font-mono), monospace;
  background-color: var(--background);
  color: var(--foreground);
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
