.loader-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 40vh;
    height: 40vh;
    border: 4px solid #ddd;
    border-top: 4px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    position: relative;
    transform-origin: center;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.loader-text {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vh;
    line-height: 1;
    font-weight: 600;

    color: white;
}

.dot {
    opacity: 0;
    animation: blink 1.4s infinite;
}

.dot1 { animation-delay: 0s; }
.dot2 { animation-delay: 0.2s; }
.dot3 { animation-delay: 0.4s; }

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}